/* Fonts */
@font-face
{
    font-family: "Noto Sans";
    src: url('../fonts/Noto_Sans/static/NotoSans-Black.ttf');
}
@font-face 
{
    font-family: "RobotoBold";
    src: url('../fonts/Roboto/Roboto-Bold.ttf');
}
@font-face 
{
    font-family: "RobotoRegular";
    src: url('../fonts/Roboto/Roboto-Regular.ttf');
}
@font-face 
{
    font-family: "RobotoLight";
    src: url('../fonts/Roboto/Roboto-Light.ttf');
}
@font-face 
{
    font-family: "RobotoMedium";
    src: url('../fonts/Roboto/Roboto-Medium.ttf');
}

/* Default style */
body 
{
    box-sizing: border-box;
    font-family: Arial, Verdana, sans-serif;
}
input:valid
{
    border-bottom: 2px solid #14A44D;
}
input:invalid
{
    border-bottom: 2px solid #DC4C64;
}
input:placeholder-shown
{
    border-bottom: 2px solid #E5E7EB;
}

/* Layout */
.container
{
    background-image: url('../img/wembley.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-flow: row wrap;
    max-width: 100vw;
    min-height: 100vh;
}
.content
{
    min-width: 400px;
    flex: 6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem 0;
    background-color: #FBFBFB;
}
.logo
{
    min-width: 400px;
    flex: 4;
    display: flex;
    align-items: center;
}
.logo-content
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    padding: 1rem 2rem;
    background-color: rgba(255, 255, 255, 0.5);
}

/* Typography */
.title
{
    font-family: "Noto Sans", sans-serif;
    font-size: 3rem;
    text-transform: uppercase;
    color: #C00;
    margin: 1rem 0 0;
}
.sub-title
{
    font-family: "RobotoBold", Arial, sans-serif;
    font-size: 2rem;
    text-align: center;
    margin: 0 0 2rem;
}
.text
{
    display: block;
    font-size: 1.25rem;
    line-height: 1.5;
    font-family: Verdana, Arial, sans-serif;
    font-weight: normal;
    margin: 0 3rem 1rem;
}
.text-info
{
    font-family: "RobotoMedium", Arial, sans-serif;
    margin: 0 3rem 1rem;
}
.text-small
{
    font-size: 1rem;
}

/* Components */
.img-logo
{
    max-width: 7rem;
    height: auto;
    margin-right: 0;
}
.register 
{
    background-color: white;
    padding: 2rem 3rem;
    margin: 0 0 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.form-row
{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin: 0 0 1rem;
}
.input-group
{
    display: flex;
    min-width: 250px;
    flex-flow: column wrap;
    flex: 40%;
    margin: 0 2rem 1rem 0;
}
.form-control
{
    display: block;
    width: 70%;
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    font-family: "RobotoRegular", Arial, sans-serif;
    border: none;
    border-bottom: 2px solid #E5E7EB;
}
.form-control:focus
{
    border-bottom: 2px solid #333;
    outline: none;
}
.form-control.password-control
{
    border-bottom: 2px solid #E5E7EB;
}
.form-control.password-control:focus
{
    border-bottom: 2px solid #333;
}
.form-control.password-control.valid
{
    border-bottom: 2px solid #14A44D;
}
.form-control.password-control.invalid
{
    border-bottom: 2px solid #DC4C64;
}
.form-label
{
    display: inline-block;
    margin: 0 0 0.5rem 1rem;
    font-size: 1.2rem;
    font-family: "RobotoLight", Arial, sans-serif;
}
.btn-group
{
    margin: 0 0 0 3rem;
}
.btn 
{
    display: inline-block;
    padding: 0.75rem 2.5rem;
    font-size: 1rem;
    cursor: pointer;
    background-color: #C00;
    color: white;
    font-weight: bolder;
    border: none;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out;
}
.btn:hover
{
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
.link
{
    color: #C00; 
    text-decoration: none;
    transition: color 0.3s ease-in-out; 
    margin-left: 0.5rem;
}
.link:hover,
.link:active
{
    color: #8b0000;
}